<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Bookers",root_path %>

      <div class="header-list">
        <% if user_signed_in? %>
          <ul>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home"></i>
                Home
              <% end %>
            </li>

            <li>
              <%= link_to users_path do %>
                <i class="fas fa-users"></i>
                Users
              <% end %>
            </li>

            <li>
              <%= link_to books_path do %>
                <i class="fas fa-book-open"></i>
                Books
              <% end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                logout
              <% end %>
            </li>

        <% else %>

            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home"></i>
                Home
              <% end %>
            </li>

            <li>
              <%= link_to homes_about_path do %>
                <i class="fas fa-link"></i>
                About
              <% end %>
            </li>

            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                sign up
              <% end %>
            </li>

            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-out-alt"></i>
                login
              <% end %>
            </li>

          </ul>
        <% end %>
      </div>
    </header>

    <%= yield %>

  </body>

  <footer class="">
    <p>CopyRight Infatop.inc</p>
  </footer>
</html>
